<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.hotels.architecture.proxy.HttpServer" level="INFO" />
  <logger name="com.hotels.architecture.proxy.MockEndpoint" level="INFO" />

  <!--<logger name="com.hotels.architecture.proxy.handler" level="INFO" /> 

  <logger name="com.hotels.architecture.proxy.handler.HttpProxyHandler" level="DEBUG" />
  <logger name="com.hotels.architecture.proxy.core.CommonsConnectionPool" level="DEBUG" />
  <logger name="com.hotels.architecture.proxy.handler.ExceptionSurfacerHandler" level="DEBUG" />-->

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
